name: QA

on:
  push:
    branches: "*"
  pull_request:
    branches: "*"

jobs:
  qa:
    runs-on: ubuntu-latest
    container:
      image: crystallang/crystal:1.18.1
    steps:
      - uses: actions/checkout@v1
      - name: Install shards
        run: shards install
      - name: Run QA checks
        run: make qa
